<!--  <footer id="dk-footer" class="dk-footer">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span>Powered By Briot | app v1.0.0</span>
                </div> 
                
                 <div class="col-md-6">
                    <div class="copyright-menu">
                        <ul>
                            <li>
                               Role:Admin Logged in as : admin site:Briot
                            </li>
                        </ul>
                    </div>
                </div> 
            
           </div>
         
      </div> 
    
    </div>
</footer>  
 -->